body{
  background-color: black;
  display: flex;
  justify-content: center;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  // background-image: linear-gradient(#757F9A, #D7DDE8);
}
.title{
  text-align: center;
  font-size: 40px;
}
.main_page_wrapper{
  text-align: center;
}
.nickname_wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.nickname_box{
  text-indent: 10px;
  width: 250px;
  height: 30px;
  border: solid 1px black;
  margin-bottom: 30px;
}
.startBtn{
  margin: 20px;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 25px;
}
.logo{
  width: 130px;
  height: 130px;
  padding-bottom: 200px;
}